body{
    background-color: #e5e5e5;
}

.nav-extended{
    background-image: url("http://www.ensinateca.local/imagens/capa.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}

nav ul li.active, .tab a.active{
    border-bottom: solid 2px #fff;
    background-color: transparent;
}

.nav-header h1{
    text-shadow: 2px 2px 20px #000;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}

/*  Essa classe limita o tamanho das imagens nos cards de livro 
    E muda as definições se a imagen é "esticada" ou não no elemento.
    - Mago
*/
.bookImgLimitHeight {
    max-height: 350px;
    min-height: 350px;
    object-fit: cover;
}

/*  Essa classe adiciona um espaço entre a barra abaixo do cabeçalho e a lista de livros 
    - Mago
*/
.pt2 {
    padding-top: 2rem;
}